.card {
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  .card:hover{
    transform:translateY(-10px);
  }
  
  .card-header h3 {
    padding: 14px 16px;
  }
  
  .card-header img {
    width: 100%;
    object-fit: cover;
  }
  
  .card-body {
    padding: 16px 16px;
  }
  
  .card-footer {
    padding: 16px 16px;
    
  }
  .price {
    color: #ff6600;
    font-weight: 700;
    padding: 10px 20px;
    
  }
  